@media (min-width: 901px) {
   .ai-container {
      flex-direction: row !important;
      position: relative;
   }

   .ai-container .hero-app-stack:nth-child(1) {
      position: absolute;
      max-width: none;
      width: 100% !important;
      height: 85% !important;
      /* right: 90%; */
      top: 50%;
      transform: translate(-50%, -50%);
      background: url("https://cdn.replit.com/dotcom/hero-app-stack.png")
         no-repeat center center / cover;
   }

   .ai-container .hero-app-stack:nth-child(3) {
      position: absolute;
      max-width: none;
      width: 100% !important;
      height: 85% !important;
      left: 90%;
      top: 50%;
      transform: translate(-50%, -50%);
      background: url("https://cdn.replit.com/dotcom/hero-app-stack.png")
         no-repeat center center / cover;
      rotate: 360deg;
      /* background-color: antiquewhite; */
   }
}
